---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="Minh-Ngoc" bare>
  <div class="frame">
    <h1 class="landing-title">
      My name is Minh-Ngoc, a strategist and maker of things that makes life more livable, fulfilling, and beautiful
    </h1>

    <p class="landing-body">
      During the day I am a strategy consultant for Dubai Culture &amp; Arts Authority, the 4th Middle Eastern government entity I've worked for. The rest of the time, I am whatever I want. This year, that means being:
    </p>

    <ul class="landing-list">
      <li>An aerial dancer</li>
      <li>A multi-disciplinary artist (this one is on-going)</li>
      <li>An app developer</li>
      <li>An avid reader and book club attendee</li>
      <li>A writer</li>
    </ul>

    <hr class="divider" />
    <div class="link-row">
      <a href="/contact">Get in Touch</a>
      <a href="https://www.linkedin.com/" rel="me">My LinkedIn</a>
    </div>
    <hr class="divider" />
  </div>
</BaseLayout>
