---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="Minh-Ngoc" bare>
  <div class="frame">
    <h1 class="landing-title">
      My name is Minh-Ngoc, a government adviser and maker of things that make life more livable, fulfilling, and beautiful
    </h1>

    <p class="landing-body">
      During the day I am a strategy consultant for Dubai Culture &amp; Arts Authority, the 4th Middle Eastern government entity I've worked for. The rest of the time, I am whatever I want. This year, that means being:
    </p>

    <ul class="landing-list">
      <li><a href="/aerial-dancer">An aerial dancer</a></li>
      <li><a href="/multi-disciplinary-artist">A multi-disciplinary artist (this one is on-going)</a></li>
      <li><a href="/app-developer">An app developer</a></li>
      <li><a href="/reader">An avid reader and book club attendee</a></li>
      <li><a href="/writer">A writer</a></li>
    </ul>

    <hr class="divider" />
    <div class="link-row">
      <a href="/contact">Get in Touch</a>
      <a href="https://www.linkedin.com/" rel="me">My LinkedIn</a>
    </div>
    <hr class="divider" />
  </div>
</BaseLayout>
